@import './breakpoints';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #000;
    color: #fff;
}

.wrapper {
    overflow-x: hidden;
    @media (min-width: $sm-md) {
        display: grid;
        grid-template-columns: auto 2fr 3fr;
        overflow-y: hidden;
    }
    min-height: 100vh;
    box-sizing: border-box;

    .controls {
        z-index: 1000;
        display: flex;
        align-items: stretch;
        justify-content: center;
        @media (min-width: $sm-md) {
            flex-direction: column;
        }
    }

    .sidebar {
        background-color: #222;
        color: white;
        overflow: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        .chrome-picker {
            margin: auto;
        }
    }
    .content {
        padding: 2rem 0;
        margin: auto;
        > div {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 0 1rem;
            align-items: center;
            max-width: 100%;
        }
    }
}

h3 {
    font-weight: normal;
    font-family: monospace;
    margin: 0.75rem 0;
}

textarea {
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
    font-family: monospace;
}
