@import './breakpoints';

.control {
    z-index: 1000;
    .icon {
        width: 100%;
        z-index: 1000;
        text-align: center;
        position: relative;
        svg {
            padding: 1.5rem;
            font-size: 2rem;
            cursor: pointer;
        }
    }

    .tooltip {
        display: none;
    }

    @media (min-width: $md-lg) {
        .tooltip {
            position: absolute;
            z-index: -10;
            display: block;
            margin-top: 1.2rem;
            margin-left: -20rem;
            transition: 0.15s;
            padding: 0.75rem;
            z-index: 100;
            border-radius: 0 0.25rem 0.25rem 0;
        }
        &:hover {
            .tooltip {
                margin-left: 5.25rem;
                display: block;
            }
        }
    }
}
