body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #000;
    color: #fff;
}

header {
    background-color: #222;
    padding: 20px;
    color: white;
    overflow: auto;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 25rem 1fr;
    box-sizing: border-box;
    height: 100vh;
}

main {
    margin: auto;
}

main>div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0 1rem;
    align-items: center;
    max-width: 100%;
}

.code {
    height: 50vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

h3 {
    font-weight: normal;
    font-family: monospace;
    margin: 0.75rem 0;
}

.swatch {
    text-align: right;
    float: none;
}

.chrome-picker {
    margin: auto;
}

.syntax {
    align-items: center;
    flex-wrap: wrap;
}

textarea {
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
    font-family: monospace;
}

.title {
    font-size: 1.5em;
}

.intro {
    font-size: large;
}

.swatch {
    width: 40px;
    display: inline-block;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #333;
    transition: 0.15s;
    margin: 5px 5px;
    box-sizing: border-box;
    color: #000;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    justify-self: end;
}

.new.swatch {
    align-self: center;
}

.active.swatch {
    width: 60px;
    height: 60px;
    margin: 0 -5px;
    padding: 15px;
}

.swatch .hover {
    opacity: 0;
}

.swatch span {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
}

.swatch span:nth-child(1) {
    margin-right: -5px;
}

.swatch span:nth-child(2) {
    margin-left: -5px;
}

.syntax {
    text-align: right;
    padding: 5px 0;
}

.syntax .active.swatch:hover .hover {
    opacity: 1;
}

.fg .swatch:hover .hover {
    display: none;
}